

<div class="card  m-3">
    <h3 class="card-header primary-color white-text text-center">Reading Section and Problems</h3>
    <div class="card-body">
        <div class="row">
            
             <div class="col-md-4"> 
               
               <div class="card card-body">
                 <h6 class="card-title">Problems Section</h6>
                 <div>
                 <button class="btn btn-primary" (click)="onSubmit()">
                   Make Problems
                 </button>
                 </div>
               </div>
             </div>
             <div class="col-md-8">
                 <div class="card card-body">
                   <app-tony-editor [htmlContent]="htmlContent"></app-tony-editor>
                 </div>
             </div>
     
     
           </div>  
     
    </div>
</div>

