<div class="row">
  <div class="col-md-12">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" class="btn-floating indigo lighten-2 btn-sm"><i class="fa fa-star" aria-hidden="true"></i></button>
          <button type="button" class="btn-floating blue lighten-2 btn-sm"><i class="fa fa-heart" aria-hidden="true"></i></button>
          <button type="button" class="btn-floating light-blue lighten-2 btn-sm"><i class="fa fa-user" aria-hidden="true"></i></button>
          <button type="button" class="btn-floating cyan lighten-2 btn-sm"><i class="fa fa-twitter" aria-hidden="true"></i></button>
      </div>
    
  
      <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" class="btn-floating indigo lighten-2 btn-sm"><i class="fa fa-star" aria-hidden="true"></i></button>
          <button type="button" class="btn-floating blue lighten-2 btn-sm "><i class="fa fa-heart" aria-hidden="true"></i></button>
          <button type="button" class="btn-floating light-blue lighten-2 btn-sm"><i class="fa fa-user" aria-hidden="true"></i></button>
          <button type="button" class="btn-floating cyan lighten-2 btn-sm"><i class="fa fa-twitter" aria-hidden="true"></i></button>
      </div>

      <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" class="btn-floating indigo lighten-2 btn-sm"><i class="fa fa-star" aria-hidden="true"></i></button>
          <button type="button" class="btn-floating blue lighten-2 btn-sm"><i class="fa fa-heart" aria-hidden="true"></i></button>
          <button type="button" class="btn-floating light-blue lighten-2 btn-sm"><i class="fa fa-user" aria-hidden="true"></i></button>
          <button type="button" class="btn-floating cyan lighten-2 btn-sm"><i class="fa fa-twitter" aria-hidden="true"></i></button>
      </div>
    </div>
    
  </div>
</div>
